<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to <%= title %></h1>
  <p>This is the home page.</p>
  <a href="/users">Manage Users (CRUD UI)</a>
  <br>
  <a href="/api/users">View Users (API)</a>
</body>
</html>